Repository swsnu/swppfall2022-team4, pull requests merged in 2022-11, with the labels that each got.

#24 Fix/profile
  backend/FITogether/settings.py
  backend/images/tests.py
  backend/images/views.py
  backend/posts/migrations/0002_alter_post_options.py
  backend/users/migrations/0002_user_created.py
  backend/users/migrations/0003_user_updated_alter_user_created.py
  backend/users/models.py
  backend/users/urls.py
  backend/users/views.py
  backend/utils/jwt_middleware.py
  frontend/env.tar.enc
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/common/Loading.test.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/components/common/NotFound.test.tsx
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/buttons/Button1.tsx
  frontend/src/components/common/buttons/Button2.tsx
  frontend/src/components/common/buttons/Button3.tsx
  frontend/src/components/common/buttons/Button4.tsx
  frontend/src/components/common/buttons/Buttons.test.tsx
  frontend/src/components/common/inputs/Input1.tsx
  frontend/src/components/common/inputs/Inputs.test.tsx
  frontend/src/components/sections/Footer.test.tsx
  frontend/src/components/sections/Footer.tsx
  frontend/src/components/sections/Header.tsx
  frontend/src/components/user/OtherInfos.test.tsx
  frontend/src/components/user/OtherInfos.tsx
  frontend/src/components/user/Passwords.test.tsx
  frontend/src/components/user/Passwords.tsx
  frontend/src/containers/user/EditPassword.tsx
  frontend/src/containers/user/EditProfile.tsx
  frontend/src/containers/user/Login.tsx
  frontend/src/containers/user/Mypage.tsx
  frontend/src/containers/user/Signup.tsx
  frontend/src/containers/workout/WorkoutLog.tsx
  frontend/src/store/apis/user.ts
  frontend/src/store/slices/user.ts
  frontend/src/utils/datetime.ts
  frontend/src/utils/userData.ts
Labels: FEAT/User

#25 [FEAT] Post + Comment features
  .gitignore
  backend/.pylintrc
  backend/comments/migrations/0004_remove_comment_dislike_num_remove_comment_like_num_and_more.py
  backend/comments/models.py
  backend/comments/urls.py
  backend/comments/views.py
  backend/env.tar.enc
  backend/posts/admin.py
  backend/posts/management/__init__.py
  backend/posts/management/commands/__init__.py
  backend/posts/management/commands/seed_posts.py
  backend/posts/migrations/0002_alter_post_options_remove_post_dislike_num_and_more.py
  backend/posts/models.py
  backend/posts/views.py
  backend/requirements.txt
  backend/users/models.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/containers/post/PostCreate.tsx
  frontend/src/containers/post/PostDetail.tsx
  frontend/src/containers/post/PostEdit.tsx
  frontend/src/containers/post/PostLayout.tsx
  frontend/src/containers/post/PostMain.tsx
  frontend/src/store/apis/comment.ts
  frontend/src/store/apis/post.ts
  frontend/src/store/slices/comment.ts
  frontend/src/store/slices/post.ts
  frontend/yarn.lock
Labels: FEAT/Post

#36 [FEAT] Post+Comment part3
  backend/FITogether/settings.py
  backend/FITogether/urls.py
  backend/comments/management/__init__.py
  backend/comments/management/commands/__init__.py
  backend/comments/management/commands/delete_comments.py
  backend/comments/management/commands/seed_comments.py
  backend/comments/urls.py
  backend/comments/views.py
  backend/posts/management/commands/delete_posts.py
  backend/posts/management/commands/seed_posts.py
  backend/posts/migrations/0003_merge_20221102_2341.py
  backend/posts/migrations/0004_post_tags.py
  backend/posts/models.py
  backend/posts/urls.py
  backend/posts/views.py
  backend/tags/__init__.py
  backend/tags/admin.py
  backend/tags/apps.py
  backend/tags/migrations/0001_initial.py
  backend/tags/migrations/0002_alter_tag_tag_class.py
  backend/tags/migrations/0003_rename_name_tag_tag_name_and_more.py
  backend/tags/migrations/__init__.py
  backend/tags/models.py
  backend/tags/tests.py
  backend/tags/urls.py
  backend/tags/views.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/containers/information/InformationLobby.tsx
  frontend/src/containers/post/PostCreate.tsx
  frontend/src/containers/post/PostDetail.tsx
  frontend/src/containers/post/PostEdit.tsx
  frontend/src/containers/post/PostEditorLayout.tsx
  frontend/src/containers/post/PostLayout.tsx
  frontend/src/containers/post/PostMain.tsx
  frontend/src/store/apis/comment.ts
  frontend/src/store/apis/post.ts
  frontend/src/store/apis/tag.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/comment.ts
  frontend/src/store/slices/post.ts
  frontend/src/store/slices/tag.ts
  frontend/yarn.lock
Labels: FEAT/Post

#34 [FEAT] 채팅
  backend/.gitignore
  backend/.pylintrc
  backend/FITogether/asgi.py
  backend/FITogether/settings.py
  backend/FITogether/urls.py
  backend/chatrooms/__init__.py
  backend/chatrooms/admin.py
  backend/chatrooms/apps.py
  backend/chatrooms/management/__init__.py
  backend/chatrooms/management/commands/__init__.py
  backend/chatrooms/management/commands/seed_chatrooms.py
  backend/chatrooms/management/commands/seed_messages.py
  backend/chatrooms/migrations/0001_initial.py
  backend/chatrooms/migrations/0002_chatroom_created_chatroom_updated.py
  backend/chatrooms/migrations/__init__.py
  backend/chatrooms/models.py
  backend/chatrooms/tests.py
  backend/chatrooms/urls.py
  backend/chatrooms/views.py
  backend/chats/__init__.py
  backend/chats/consumers.py
  backend/chats/routing.py
  backend/posts/migrations/0003_merge_20221104_0135.py
  backend/posts/migrations/0005_merge_0003_merge_20221104_0135_0004_post_tags.py
  backend/requirements.txt
  backend/users/management/__init__.py
  backend/users/management/commands/__init__.py
  backend/users/management/commands/seed_users.py
  backend/users/tests.py
  backend/utils/jwt_middleware.py
  frontend/env.tar.enc
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/chat/ChatroomButton.test.tsx
  frontend/src/components/chat/ChatroomButton.tsx
  frontend/src/components/chat/Message.test.tsx
  frontend/src/components/chat/Message.tsx
  frontend/src/components/sections/Header.tsx
  frontend/src/containers/Main.tsx
  frontend/src/containers/chat/Chat.tsx
  frontend/src/containers/post/PostCreate.tsx
  frontend/src/containers/post/PostEdit.tsx
  frontend/src/containers/post/PostEditorLayout.tsx
  frontend/src/containers/user/EditPassword.tsx
  frontend/src/containers/user/EditProfile.tsx
  frontend/src/containers/user/Mypage.tsx
  frontend/src/store/apis/apis.test.ts
  frontend/src/store/apis/chat.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/chat.test.ts
  frontend/src/store/slices/chat.ts
  frontend/src/store/slices/user.test.ts
  frontend/src/store/slices/user.ts
Labels: FEAT/User

#35 [FEAT] 그룹
  backend/FITogether/settings.py
  backend/FITogether/urls.py
  backend/groups/migrations/0001_initial.py
  backend/groups/migrations/0002_group_goal_delete_goal.py
  backend/groups/migrations/0003_group_member_number.py
  backend/groups/models.py
  backend/groups/urls.py
  backend/groups/views.py
  backend/posts/views.py
  frontend/src/App.tsx
  frontend/src/components/group/GroupElement.tsx
  frontend/src/components/group/MemberElement.tsx
  frontend/src/containers/group/GroupCreate.tsx
  frontend/src/containers/group/GroupDetail.tsx
  frontend/src/containers/group/GroupList.tsx
  frontend/src/containers/group/GroupMembers.tsx
  frontend/src/store/apis/group.ts
  frontend/src/store/index.ts
  frontend/src/store/slices/group.ts
Labels: FEAT/group

#42 [FEAT] Post+Comment part4
  .gitignore
  backend/.gitignore
  backend/.pylintrc
  backend/FITogether/settings.py
  backend/informations/__init__.py
  backend/informations/admin.py
  backend/informations/apps.py
  backend/informations/migrations/0001_initial.py
  backend/informations/migrations/__init__.py
  backend/informations/models.py
  backend/informations/tests.py
  backend/informations/views.py
  backend/posts/admin.py
  backend/posts/management/commands/seed_posts.py
  backend/posts/migrations/0006_post_prime_tag.py
  backend/posts/models.py
  backend/posts/views.py
  backend/tags/admin.py
  backend/tags/management/__init__.py
  backend/tags/management/commands/__init__.py
  backend/tags/management/commands/delete_tags.py
  backend/tags/management/commands/prepare_tags.py
  backend/tags/models.py
  backend/tags/urls.py
  backend/tags/views.py
  backend/utils/get_random.py
  frontend/src/components/common/Loading.test.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/components/post/button.tsx
  frontend/src/components/post/layout.tsx
  frontend/src/components/tag/tagbubble.tsx
  frontend/src/containers/post/PostCreate.tsx
  frontend/src/containers/post/PostDetail.tsx
  frontend/src/containers/post/PostEdit.tsx
  frontend/src/containers/post/PostEditorLayout.tsx
  frontend/src/containers/post/PostLayout.tsx
  frontend/src/containers/post/PostMain.tsx
  frontend/src/store/apis/apis.test.ts
  frontend/src/store/apis/comment.ts
  frontend/src/store/apis/post.ts
  frontend/src/store/apis/tag.ts
  frontend/src/store/slices/comment.ts
  frontend/src/store/slices/post.ts
  frontend/src/store/slices/tag.ts
  frontend/src/styles/color.css
Labels: FEAT/Post

#55 [Test] Community 부분 Test + Refactoring
  backend/comments/tests.py
  backend/comments/views.py
  backend/posts/tests.py
  backend/posts/views.py
  backend/tags/tests.py
  backend/tags/views.py
  backend/users/models.py
  backend/users/tests.py
  frontend/src/components/post/button.tsx
  frontend/src/components/post/layout.tsx
  frontend/src/components/post/paginator.tsx
  frontend/src/containers/information/InformationLobby.test.tsx
  frontend/src/containers/information/InformationLobby.tsx
  frontend/src/containers/post/PostCreate.test.tsx
  frontend/src/containers/post/PostCreate.tsx
  frontend/src/containers/post/PostDetail.test.tsx
  frontend/src/containers/post/PostDetail.tsx
  frontend/src/containers/post/PostEdit.test.tsx
  frontend/src/containers/post/PostEdit.tsx
  frontend/src/containers/post/PostEditorLayout.tsx
  frontend/src/containers/post/PostLayout.tsx
  frontend/src/containers/post/PostMain.test.tsx
  frontend/src/containers/post/PostMain.tsx
  frontend/src/containers/user/Mypage.tsx
  frontend/src/store/apis/apis.test.ts
  frontend/src/store/apis/comment.ts
  frontend/src/store/apis/post.ts
  frontend/src/store/apis/tag.ts
  frontend/src/store/apis/user.ts
  frontend/src/store/slices/comment.ts
  frontend/src/store/slices/post.test.ts
  frontend/src/store/slices/post.ts
  frontend/src/store/slices/tag.test.ts
  frontend/src/store/slices/tag.ts
  frontend/src/store/slices/user.test.ts
  frontend/src/store/slices/user.ts
  frontend/src/styles/color.css
  frontend/src/utils/datetime.test.ts
  frontend/src/utils/datetime.ts
Labels: FEAT/Post

#57 [TEST] 그룹 test + fix 멤버 status check(backend)
  backend/groups/tests.py
  backend/groups/views.py
  frontend/src/components/group/GroupElement.test.tsx
  frontend/src/components/group/MemberElement.test.tsx
  frontend/src/containers/group/GroupCreate.test.tsx
  frontend/src/containers/group/GroupCreate.tsx
  frontend/src/containers/group/GroupDetail.test.tsx
  frontend/src/containers/group/GroupDetail.tsx
  frontend/src/containers/group/GroupList.test.tsx
  frontend/src/containers/group/GroupList.tsx
  frontend/src/containers/group/GroupMembers.test.tsx
  frontend/src/containers/group/GroupMembers.tsx
  frontend/src/store/apis/apis.test.ts
  frontend/src/store/apis/group.ts
  frontend/src/store/apis/workout.ts
  frontend/src/store/slices/group.test.ts
  frontend/src/store/slices/group.ts
  frontend/src/test-utils/mock.ts
Labels: FEAT/group

#63 [Test] Paginator component 테스트 + Group 에러 수정
  frontend/src/components/post/paginator.tsx
  frontend/src/containers/post/PostDetail.tsx
  frontend/src/containers/post/PostMain.test.tsx
  frontend/src/containers/post/PostMain.tsx
  frontend/src/store/slices/group.ts
Labels: FEAT/Post, FEAT/group

#84 [Fix] Tag와 기록, 그룹 통합
  backend/groups/views.py
  backend/tags/management/commands/prepare_tags.py
  backend/tags/migrations/0002_tag_tag_type.py
  backend/tags/models.py
  backend/workouts/admin.py
  backend/workouts/migrations/0002_delete_fitelementtype_remove_fitelement_category_and_more.py
  backend/workouts/models.py
  backend/workouts/views.py
  frontend/src/components/fitelement/FitElement.tsx
  frontend/src/components/fitelement/Hover.test.tsx
  frontend/src/components/fitelement/Hover.tsx
  frontend/src/containers/Main.tsx
  frontend/src/containers/group/GroupCreate.tsx
  frontend/src/containers/group/GroupDetail.tsx
  frontend/src/containers/workout/Routine.tsx
  frontend/src/containers/workout/WorkoutLog.tsx
  frontend/src/store/slices/workout.ts
  frontend/yarn.lock
Labels: enhancement, FEAT/Worklog, FEAT/group, FEAT/Tag
